.App {
  font-family: "Roboto Mono", monospace;
  max-width: 500px;
  margin: 0 auto;
}
form {
  text-align: center;
}
h1,
h6 {
  text-align: center;
  margin-bottom: 0;
  color: white;
}
h1 {
  font-size: 30px;
  margin-top: 20px;
  font-weight: bolder;
  color: white;
}
h6 {
  font-size: 14px;
  opacity: 0.8;
}
h2,
h3,
h4 {
  color: white;
  margin-bottom: 0;
}
h2 {
  font-size: 50px;
}
h3 {
  font-size: 20px;
  font-weight: 100;
}
h4 {
  font-size: 14px;
  opacity: 0.8;
}
.container {
  margin-top: 10px;
  border: none;
  border-radius: 15px;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 50%);
}
#enter-city {
  max-width: 300px;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  background: transparent;
  border: 2px solid white;
  color: white;
}
#search_city,
#current-location-button {
  margin-top: 30px;
  margin-bottom: 30px;
  background: transparent;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
}
#search_city:hover {
  background: white;
  color: #fda085;
  transition: all 500ms ease;
}
.weather-today {
  border: 5px solid white;
  border-radius: 50%;
  text-align: center;
  width: 220px;
  height: 220px;
  margin: 50px auto;
  padding: 45px 0;
}
.units {
  color: white;
  opacity: 0.6;
}
.units:hover {
  opacity: 0.4;
  color: white;
  text-decoration: none;
  transition: all 200ms ease;
}

.active {
  opacity: 1;
}
.active:hover {
  opacity: 1;
  cursor: default;
}
#current-weather-icon {
  width: 60px;
  position: relative;
  bottom: 6px;
  right: 2px;
}

.next-hours,
.next-hours-icons,
.next-hours-temp {
  text-align: center;
  color: white;
}
.forecast-icons {
  width: 40px;
}
.line {
  border: 1px solid white;
  max-width: 87%;
  margin: 5px auto 10px;
  background: white;
  border-radius: 5px;
}
.next-hours-temp {
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 30px;
}
::placeholder {
  color: white;
  opacity: 0.7;
  text-align: center;
}

.footer {
  font-size: 10px;
  text-align: center;
}


