.App {
  font-family: "Roboto Mono", monospace;
  max-width: 500px;
  margin: 0 auto;
}
form {
  text-align: center;
}
.container {
  margin-top: 10px;
  border: none;
  border-radius: 15px;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 50%);
}
#enter-city {
  max-width: 300px;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 5px;
  background: transparent;
  border: 2px solid white;
  color: white;
}
#search_city {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 5px;;
  background: transparent;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
}
#search_city:hover {
  background: white;
  color: #fda085;
  transition: all 500ms ease;
}
.next-hours,
.next-hours-icons,
.next-hours-temp {
  text-align: center;
  color: white;
}
.forecast-icons {
  width: 40px;
}
.line {
  border: 1px solid white;
  max-width: 87%;
  margin: 5px auto 10px;
  background: white;
  border-radius: 5px;
}
.next-hours-temp {
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 30px;
}
::placeholder {
  color: white;
  opacity: 0.7;
  text-align: center;
}

.footer {
  font-size: 10px;
  text-align: center;
}


