.Forecast row {
    text-align: center;
}

.next-hours,
.next-hours-icons,
.next-hours-temp {
  text-align: center;
  color: white;
}
.next-hours-icons {
position: relative;
right: 12px;
}
.line {
  border: 1px solid white;
  max-width: 95%;
  margin: 5px auto 10px;
  background: white;
  border-radius: 5px;
}
.next-hours-temp {
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 30px;
}